<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clustering</title>
</head>
<body>
    <h1>Ingrese los datos que deseas clusterizar</h1>
    <form action="/process" method="post">
        <label for="ciudad">Ciudad:</label>
        <input type="text" id="ciudad" name="ciudad"><br><br>
        
        <label for="tipo_contrato">Tipo de Contrato:</label>
        <input type="text" id="tipo_contrato" name="tipo_contrato"><br><br>
        
        <label for="estado_contrato">Estado del Contrato:</label>
        <input type="text" id="estado_contrato" name="estado_contrato"><br><br>
        
        <label for="modalidad_contratacion">Modalidad de Contratación:</label>
        <input type="text" id="modalidad_contratacion" name="modalidad_contratacion"><br><br>
        
        <label for="fecha_firma_month">Mes de la Firma (entero):</label>
        <input type="number" id="fecha_firma_month" name="fecha_firma_month"><br><br>
        
        <label for="duracion_contrato_dias">Duración del Contrato (días):</label>
        <input type="number" id="duracion_contrato_dias" name="duracion_contrato_dias"><br><br>
        
        <label for="valor_contrato">Valor del Contrato (entero):</label>
        <input type="number" id="valor_contrato" name="valor_contrato"><br><br>
        
        <label for="valor_contrato_por_dia">Valor del Contrato por Día (entero):</label>
        <input type="number" id="valor_contrato_por_dia" name="valor_contrato_por_dia"><br><br>
        
        <input type="submit" value="Enviar">
    </form>
</body>
</html>
